<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Corona-Virus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <style type="text/css">
        .iconStyle{
            height:20px;
            margin-left:5px;
        }
    </style>
</head>

<body>
<div class="container">
    <h1>Corona-Virus Tracker Application</h1>
    <p>This Application Lists the current number of cases reported across the Globe</p>

    <div class="jumbotron">
        <h1 class="display-4" th:text="${totalReportedCases}"></h1>
        <p class="lead">Total cases reported as of Today</p>
        <hr class="my-4">
        <p>
            <span>New Cases reported since previous day</span>
            <span th:text="${totalNewCases}"></span>
        </p>
    </div>

    <table class="table">
        <tr>
            <th>Country</th>
            <th>Total cases reported</th>
            <th>Changes since last day</th>
        </tr>
        <tr th:each="locationsStat : ${locationsStats}">
            <td th:text="${locationsStat.country}"></td>
            <td th:text="${locationsStat.updated}? ${locationsStat.latestCases} : 'Not Updated'">0</td>
            <td th:if="${locationsStat.diffFromPrevDay == 0}">0</td>
            <td th:if="${locationsStat.diffFromPrevDay > 0}"><span th:text="${locationsStat.diffFromPrevDay}"></span><img src="sort-up.png" class="iconStyle"></img></td>
            <td th:if="${locationsStat.diffFromPrevDay < 0}"><span th:text="${locationsStat.diffFromPrevDay}"></span><img src="sort-down.png" class="iconStyle"></img></td>
        </tr>
    </table>
</div>

</body>

</html>